.welcome-header {
  margin: 70px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
}
@keyframes tree-icon {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-15px) rotateY(360deg);
  }
  100% {
    transform: none;
  }
}
.welcome-icon {
  margin-bottom: 40px;
  color: var(--green);
  animation: tree-icon 4s linear infinite;
}
.welcome-header__title {
  margin-bottom: 20px;
  font-size: 25px;
  color: whitesmoke;
}
.welcome-header__text {
  width: 60%;
  opacity: 0.7;
  color: whitesmoke;
}
#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}
#login-form input {
  padding: 15px 10px;
  border: none;
  font-size: 18px;
  margin-bottom: 20px;
  background-color: #1b1810;
  border-radius: 10px;
  color: whitesmoke;
}
#login-form input:not([type="submit"]) {
  border-bottom: none;
  transition: border-color 0.3s ease-in-out;
}
#login-form input::placeholder {
  color: whitesmoke;
  opacity: 0.7;
}
#login-form input:focus {
  border-bottom: var(--green);
  color: whitesmoke;
}
#login-form input[type="submit"] {
  background-color: var(--green);
  cursor: pointer;
  padding: 20px 0px;
  border-radius: 10px;
  font-weight: 600;
}
#login-form input[type="button"] {
  background-color: var(--green);
  cursor: pointer;
  padding: 20px 0px;
  border-radius: 10px;
  width: 100%;
  font-weight: 600;
}
#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 15px;
}
